@model StudentDTO

<div class="container">
    <div id="modal-action-student" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form asp-action="AddEditStudent" role="form">
                    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = $"{(@Model.ID == 0 ? "Add" : "Edit")} Student" })

                    <div class="modal-body form-horizontal">
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-12">
                                <input asp-for="FirstName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-12">
                                <input asp-for="LastName" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-12">
                                <input asp-for="Email" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EnrollmentNo" class="col-lg-3 col-sm-3 control-label"></label>
                            <div class="col-lg-12">
                                <input asp-for="EnrollmentNo" class="form-control" />
                            </div>
                        </div>
                    </div>
                    @await Html.PartialAsync("_ModalFooter", new ModalFooter { SubmitButtonText = "Save" })
                </form>
            </div>
        </div>
    </div>
</div>